a {
  text-decoration: none;
}
.headerInfo {
  h3 {
    font-size: 34px;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  p {
    margin: 0;
    color: #0056c0;
    font-weight: 700;
  }
}
.westSide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eastSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul li {
    display: flex;
    align-items: center;
  }
}
